@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
label,
button {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  padding: 5rem clamp(0.5rem, 1.2%, 2rem);
  background-color: rgb(209, 205, 193);
}
body .header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 2.25rem;
}
body .header .header__label {
  font-size: 1.1rem;
  font-weight: 600;
}
body .header .header__input {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
}
body .header .header__input::-webkit-color-swatch-wrapper {
  padding: 0;
}
body .header .header__input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
body .main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  min-height: 120dvh;
  width: 100%;
  padding: 0rem clamp(0.5rem, 1.2%, 2rem);
}
body .main .main__account {
  position: absolute;
  top: -3.5rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}
body .main .main__account .main__account-h2 {
  font-size: clamp(1.1rem, 2vw, 1.7rem);
  font-weight: 600;
}
body .main .main__client {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  line-height: clamp(1.8rem, 2.65vw, 3.25rem);
  row-gap: 0.25rem;
}
body .main .main__client .main__client-input {
  padding: 0rem clamp(0.45rem, 0.9vw, 1.5rem);
  border: 1px solid rgb(44, 89, 134);
  border-radius: 8px;
}
body .main .main__client [type=date] {
  margin-left: auto;
  width: fit-content;
  padding: 0.15rem;
  text-align: center;
  font-weight: 600;
  border: 1px solid rgb(44, 89, 134);
  background-color: rgba(121, 148, 164, 0.6);
  color: rgb(44, 89, 134);
}
body .main .main__client [type=text] {
  background-color: rgba(255, 255, 255, 0.25);
}
body .main .main__products {
  display: grid;
  grid-template-columns: clamp(4.025rem, 18.4%, 100rem) clamp(8.38rem, 38.3%, 100rem) clamp(4.17rem, 19.1%, 100rem) clamp(5.3rem, 24.2%, 100rem);
  grid-template-rows: repeat(6, auto);
  width: 100%;
  overflow: hidden;
  text-align: center;
  border: 1px solid rgb(44, 89, 134);
  border-radius: 8px;
}
body .main .main__products .main__products-h3 {
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  line-height: 2.25rem;
  font-weight: 600;
  border-bottom: 1px solid rgb(44, 89, 134);
  border-right: 1px solid rgb(44, 89, 134);
  color: rgb(44, 89, 134);
}
body .main .main__products .main__products-container {
  grid-column: span 4;
}
body .main .main__products .main__products-div {
  grid-column: span 4;
  display: grid;
  grid-template-columns: clamp(4.025rem, 18.4%, 100rem) clamp(8.38rem, 38.3%, 100rem) clamp(4.17rem, 19.1%, 100rem) clamp(5.3rem, 24.2%, 100rem);
  grid-template-rows: auto;
}
body .main .main__products .main__products-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  font-weight: 600;
  background-color: rgba(121, 148, 164, 0.6);
}
body .main .main__products .main__products-item-span {
  letter-spacing: 1px;
  border-bottom: 1px solid rgb(44, 89, 134);
}
body .main .main__products [type=number],
body .main .main__products [type=text] {
  height: auto;
  padding: 0rem clamp(0.1rem, 5%, 1rem);
  text-overflow: clip;
  overflow-wrap: break-word;
  font-size: clamp(1rem, 1.38vw, 1.7rem);
  line-height: clamp(1.8rem, 2.65vw, 3.25rem);
  font-weight: 500;
  border: none;
  border-bottom: 1px solid rgb(44, 89, 134);
  border-right: 1px solid rgb(44, 89, 134);
  background-color: rgba(255, 255, 255, 0.25);
}
body .main .main__products .main__products-btn {
  grid-column: span 4;
  height: clamp(1.8rem, 2.65vw, 3.25rem);
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  font-weight: 600;
  border: none;
  border-bottom: 1px solid rgb(44, 89, 134);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}
body .main .main__products .main__products-item-h3 {
  grid-column: 1/4;
  padding: 0rem clamp(0.1rem, 5%, 1rem);
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  font-weight: 600;
  line-height: clamp(1.8rem, 2.65vw, 3.25rem);
  text-align: left;
  color: rgb(44, 89, 134);
  border: none;
  border-bottom: 1px solid rgb(44, 89, 134);
  border-right: 1px solid rgb(44, 89, 134);
}
body .main .main__products .d-none {
  display: none;
}
body .main .main__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
body .main .main__info .main__info-section {
  display: flex;
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  font-weight: 600;
}
body .main .main__info .number {
  display: none;
  column-gap: 0.5rem;
  color: rgb(186, 82, 84);
}
body .main .main__info .total {
  justify-content: space-evenly;
  padding: 0.7rem;
  border: 1px solid rgb(44, 89, 134);
  border-radius: 8px;
  background-color: rgba(121, 148, 164, 0.6);
}
body .main .main__info .total .main__info-h2 {
  width: auto;
  color: rgb(44, 89, 134);
}
body .main .main__info .total .main__info-h2-span {
  width: fit-content;
  text-align: center;
  letter-spacing: 1px;
}
body .main .main__payment {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
body .main .main__payment .main__payment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
body .main .d-none {
  display: none;
}

/*# sourceMappingURL=style.css.map */
