body {
    display: flex;
    justify-content: center;
    background-color: rgb(209, 205, 193);

    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        padding: 5rem 1rem;
        min-height: 120dvh;
        width: 95%;

        .main__status {
            position: absolute;
            top: 1.5rem;
            left: 1rem;
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            padding: 0.5rem;
            border: none;
            border-radius: 8px;
            background-color: rgb(255, 255, 255, 0.2);

            .main__status-h2 {
                font-size: 1.45rem;
                font-weight: 600;

                .main__status-h2-span {}
            }
        }

        .main__client {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(5, 1fr);
            width: 100%;
            font-size: 1.25rem;
            row-gap: 0.25rem;

            .main__client-input {
                height: 2.25rem;
                padding: 0rem 0.75rem;
                border: none;
                border-bottom: 1px solid rgb(44, 89, 134);
                border-radius: 8px;
            }

            [type="date"] {
                margin-left: auto;
                width: fit-content;
                text-align: center;
                font-weight: 600;
                border: 1px solid rgb(44, 89, 134);
                background-color: rgb(121, 148, 164, 0.7);
                color: rgb(37, 75, 112);
            }

            [type="text"] {
                background-color: rgb(255, 255, 255, 0.25);
            }
        }

        .main__products {
            display: grid;
            grid-template-columns: 3fr 8fr 4fr 5fr;
            grid-template-rows: repeat(6, auto);
            width: 100%;
            overflow: hidden;
            text-align: center;
            border: 1px solid rgb(44, 89, 134, 0.7);
            border-radius: 8px;

            .main__products-h3 {
                font-size: 1.25rem;
                line-height: 2.25rem;
                font-weight: 600;
                border-bottom: 1px solid rgb(44, 89, 134, 0.7);
                border-right: 1px solid rgb(44, 89, 134, 0.7);
                color: rgb(44, 89, 134);
            }

            .main__products-item {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1.25rem;
                font-weight: 600;
                background-color: rgb(121, 148, 164, 0.7);
            }

            .main__products-item-span {
                letter-spacing: 1px;
            }

            [type="number"],
            [type="text"] {
                height: 2rem;
                margin: 0.25rem 0.5rem;
                padding: 0rem 0.5rem;
                font-size: 1.15rem;
                font-weight: 500;
                border: none;
                border-radius: 5px;
                border-bottom: 1px solid rgb(44, 89, 134);
                background-color: rgb(255, 255, 255, 0.25);
            }

            .main__products-btn {
                grid-column: span 4;
                height: 2.25rem;
                font-size: 1.25rem;
                font-weight: 600;
                border: none;
                background-color: transparent;
                color: rgb(0, 0, 0, 0.5);
            }

            .main__products-item-h3 {
                grid-column: 1 / 4;
                margin: 0.5rem 1rem;
                font-size: 1.25rem;
                font-weight: 600;
                text-align: left;
                color: rgb(44, 89, 134);
                border-bottom: 1px dotted rgb(44, 89, 134);
            }
        }

        .main__info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .main__info-section {
                display: flex;
                width: 30%;
                font-size: 1.35rem;
                font-weight: 600;
                .main__info-h2 {
                    font-size: 1.25rem;
                }

                .main__info-h2-span {
                    font-size: 1.25rem;
                }
            }

            .number {
                column-gap: 0.5rem;
                color: rgb(186, 82, 84);
            }

            .total {
                justify-content: space-between;
                padding: 0.7rem;
                border: 1px solid rgb(44, 89, 134, 0.7);
                border-radius: 8px;
                background-color: rgb(121, 148, 164, 0.7);

                .main__info-h2 {
                    width: 20%;
                    color: rgb(37, 75, 112);
                }

                .main__info-h2-span {
                    width: 80%;
                    text-align: center;
                    letter-spacing: 1px;
                }
            }
        }

        .main__payment {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .main__payment-section {
                .main__payment-label {}

                .main__payment-checkbox {}
            }
        }
    }
}