$bg-primary-color: rgb(209, 205, 193);
$primary-color: rgb(44, 89, 134);
$id-primary-color: rgb(186, 82, 84);
$fz-s: 1.15rem;
$fz-m: 1.25rem;
$fz-l: 1.4rem;
$fw-m: 500;
$fw-l: 600;
$product-list-rows: 6;